<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me!</title>
    <link rel="stylesheet" href="/styles/about-styles.css" />
</head>
<body>
    <section><h2>Here are the things that i like to do daily!</h2></section>

    <div id="Introduction">

        <p id="p1">
        Hey! Im Dante and I'm a yellow Cat.
        I'm almost one year old. My birthday is on the 25th of May.</p>

        <p id="p2">I enjoy the simple things like all cats do! Eating, playing and sleeping!</p>

        <p id="p3">I have a sister called Nara. Here she is. </p>

        <p id="p4"><img id="Nara" src="/img/siblings.jpeg" alt=""></p>

        <p id="p5">I have two humans back at home, that are super annoying. But they always give us food, so I tolerate them and let them hang around.</p>

        <div id="humans">
            <img id="Mom" src="/img/mom.jpeg" alt=""></p>
            <img id="Dad" src="/img/dad.jpeg" alt=""></p>
        </div>

    </div>

    

    <button class="Works"><a href="/works">Check out what i like to do in my cat time!</a></button>
    <button class="Home"><a href="/home">Go to miau-page</a></button>

    <section id="section2"><p id="signature">Done by human: Francisco Crespo</p></section>
    
</body>
</html>