<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gatto Giallo!!</title>
    <link rel="stylesheet" href="/styles/home-styles.css" />
</head>

<body>
    <section id="section1"><h1>Hello!! I'm Dante!!</h1></section>

    
    <div><img src="/img/home.jpeg" alt=""></div>

    <button class="About"><a href="/about">Check out some Miauriosities about me!</a></button>

    <button class="Works"><a href="/works">Check out what i like to do in my cat time!</a></button>

    
    

</body>

<section id="section2"><p id="signature">Done by human: Francisco Crespo</p></section>
</html>