<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works of art!</title>
    <link rel="stylesheet" href="/styles/works-styles.css" />
  </head>
  <body>
    
    <section id="section1"><h2>Here are some of the mischeifs that I've done!</h2></section>

    <div id="Mischeifs">
        <p id="p1">I pride myself in sometimes doing yoga with my blonde human! I really enjoy it!</p>
        <p id="p2"><img id="Yoga" src="/img/yoga.jpeg" alt=""></p>
        <p id="p3">I'm also super proud of all the naps i take every afternoon, they're very relaxing!</p>
        <p id="p4"><img id="Sleeping" src="/img/Sleeping.jpeg" alt=""></p>
        <p id="p5">The human with fur on his face is pretty easy to trick! So i steal his food whenever he's distracted!! </p>
        <p id="p6"><img id="Crackers" src="/img/crackers.jpeg" alt=""></p>
        <p id="p7">And i love my spa treatment. Gotta stay beautiful! </p>
        <p id="p8"><img id="Bidé" src="/img/bidé.jpeg" alt=""></p>

    </div>


    
    <button class="About"><a href="/about">Check out some Miauriosities about me!</a></button>
    <button class="Home"><a href="/home">Go to miau-page</a></button>

    <section id="section2"><p id="signature">Done by human: Francisco Crespo</p></section>
    
  </body>
</html>
